@import url('./common.scss');
@import url('./element-ui.scss');
@import url('./nprogress.scss');
@import url('./transition.scss');
@import url('./variables.scss');
@import url('./sidebar.scss');
@import url('./tabs.scss');

* {
    margin: 0;
    padding: 0;
}

.menu-icon {
    width: 1em;
    height: 1em;
    margin-right: 6px;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-scrollbar {
    width: 100%;

    .el-scrollbar__wrap .el-scrollbar__view {
        min-height: calc(100% - 20px);
    }
}

::view-transition-new(root),
::view-transition-old(root) {
    animation: none;
}

.dark::view-transition-old(root) {
    z-index: 9999;
}

.html-grey {
    filter: grayscale(100%);
}

.handle-drag {
    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    &:hover {
        color: var(--el-color-primary);
    }
}

.primary-color {
    color: var(--el-color-primary);
}

.app-card {
    background: var(--el-bg-color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.app-container {
    height: clac(var(--main-height) - 40px);
    margin: 20px;
}