.tabs-container.button {
    .scroll-pane > .el-scrollbar__wrap > .el-scrollbar__view {
        padding-left: 6px;
        align-items: center;

        .tab {
            height: 26px;
            padding: 0 8px;
            border: 1px solid var(--el-border-color-light);
            background: var(--tabs-tag--bg);
            color: var(--tabs-tag-text-color);

            svg {
                color: var(--tabs-tag-text-color);

                &.close-icon {
                    border-radius: 10%;

                    &:hover {
                        background: var(--el-text-color-placeholder);
                        box-shadow: 0 0 0 1px var(--el-text-color-placeholder);
                        color: var(--el-bg-color);
                    }
                }
            }

            &.is-active {
                border-color: var(--el-color-primary-light-7);
                background: var(--el-color-primary-light-9);
                color: var(--tabs-tag-text-color-active);

                svg {
                    color: var(--tabs-tag-text-color-active);

                    &.close-icon:hover {
                        background: var(--el-color-primary-light-3);
                        box-shadow: 0 0 0 1px var(--el-color-primary-light-3);
                    }
                }
            }
        }
    }
}

.tabs-container.card {
    &::before {
        content: '';
        width: 100%;
        height: 0;
        border-bottom: 1px solid var(--el-border-color-light);
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .scroll-pane > .el-scrollbar__wrap > .el-scrollbar__view {
        padding-left: 6px;

        .tab {
            height: 30px;
            padding: 0 8px;
            border: 1px solid var(--el-border-color-light);
            background: var(--tabs-tag--bg);
            color: var(--tabs-tag-text-color);

            svg {
                color: var(--tabs-tag-text-color);

                &.close-icon {
                    border-radius: 10%;

                    &:hover {
                        background: var(--el-text-color-placeholder);
                        box-shadow: 0 0 0 1px var(--el-text-color-placeholder);
                        color: var(--el-bg-color);
                    }
                }
            }

            &.is-active {
                border-bottom-color: var(--tabs-tag--bg-active);
                background: var(--tabs-tag--bg-active);
                color: var(--tabs-tag-text-color-active);

                svg {
                    color: var(--tabs-tag-text-color-active);

                    &.close-icon:hover {
                        background: var(--el-color-primary-light-3);
                        box-shadow: 0 0 0 1px var(--el-color-primary-light-3);
                    }
                }
            }
        }
    }
}

.tabs-container.line {
    &::before {
        content: '';
        width: 100%;
        height: 1px;
        background: var(--el-border-color-light);
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .scroll-pane > .el-scrollbar__wrap > .el-scrollbar__view {
        .tab {
            height: 30px;
            padding: 2px 8px;
            color: var(--tabs-tag-text-color);

            svg {
                color: var(--tabs-tag-text-color);

                &.close-icon {
                    border-radius: 10%;

                    &:hover {
                        background: var(--el-text-color-placeholder);
                        box-shadow: 0 0 0 1px var(--el-text-color-placeholder);
                        color: var(--el-bg-color);
                    }
                }
            }

            &.is-active {
                border-bottom: 2px solid var(--tabs-tag-text-color-active);
                color: var(--tabs-tag-text-color-active);

                svg {
                    color: var(--tabs-tag-text-color-active);

                    &.close-icon:hover {
                        background: var(--el-color-primary-light-3);
                        box-shadow: 0 0 0 1px var(--el-color-primary-light-3);
                    }
                }
            }
        }
    }
}

.tabs-container.chrome {
    .scroll-pane {
        width: inherit;

        > .el-scrollbar__wrap > .el-scrollbar__view {
            padding-left: 10px;

            .tab {
                height: 30px;
                padding: 0 8px;
                border-top-left-radius: var(--radius);
                border-top-right-radius: var(--radius);
                color: var(--tabs-tag-text-color);
                position: relative;
                --radius: 8px;

                &:not(:first-child) {
                    &::before {
                        content: '';
                        width: 2px;
                        height: 18px;
                        background: var(--el-border-color);
                        position: absolute;
                        left: 0;
                    }

                    &.is-active + .tab::before {
                        display: none;
                    }
                }
    
                svg {
                    color: var(--tabs-tag-text-color);
    
                    &.close-icon {
                        border-radius: 10%;
    
                        &:hover {
                            background: var(--el-text-color-placeholder);
                            box-shadow: 0 0 0 1px var(--el-text-color-placeholder);
                            color: var(--el-bg-color);
                        }
                    }
                }

                &.is-active {
                    background: var(--base-bg);
                    color: var(--tabs-tag-text-color-active);
    
                    &::before, &::after {
                        content: '';
                        width: var(--radius);
                        height: var(--radius);
                        position: absolute;
                        bottom: 0;
                    }
    
                    &::before {
                        left: 0;
                        transform: translateX(-100%);
                        background: radial-gradient(circle at 0 0, transparent var(--radius),
                            var(--base-bg) var(--radius));
                    }

                    &::after {
                        right: 0;
                        transform: translateX(100%);
                        background: radial-gradient(circle at var(--radius) 0, transparent var(--radius),
                            var(--base-bg) var(--radius));
                    }

                    svg {
                        color: var(--tabs-tag-text-color-active);

                        &.close-icon:hover {
                            background: var(--el-color-primary-light-3);
                            box-shadow: 0 0 0 1px var(--el-color-primary-light-3);
                        }
                    }
                }
            }
        }
    }
}